<div class="position-relative top-title-box">
  <h1 class="position-absolute top-title">Coffe Time</h1>
  <p class="position-absolute top-title-content" >新たなコーヒーと出逢いましょう！</p>
  <%= link_to "新規登録", new_user_registration_path, class: 'position-absolute sign-up-link' %>
  <%= link_to "ログイン", new_user_session_path, class: 'position-absolute sign-in-link' %>
  <%= image_pack_tag 'top.jpg', class: 'top-title-image' %>
</div>
