$cWhite: white;
$cBlack: Black;

.top-title {
  color: white;
  font-size: 4rem;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.top-title-content {
  color: white;
  font-size: 2rem;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.top-title-box {

  & .sign-in-link {
    font-size: 2rem;
    top: 50%;
    left: 60%;
    text-decoration: none;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }


  & .sign-up-link {
    font-size: 2rem;
    top: 50%;
    left: 40%;
    text-decoration: none;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.top-button {
  background-color: $cWhite;
  color: $cBlack;
  border: 2px solid $cBlack;
  border-radius: 25px;
  padding: 10px 40px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease .1s;

  &:hover {
    background-color: $cBlack;
    color: $cWhite;
  }
}

.top-title-image {
  width: 100%;
}
