.top-title {
  color: white;
  font-size: 4rem;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.top-title-image {
  width: 100%;
}
